<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jesvardo.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.ActivitySplash"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ActivityLogin"
            android:theme="@style/AppThemeFullScreen"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.ActivityMapVehicle"
            android:theme="@style/AppThemeFullScreen"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.ActivityAddVehicleConfirm"
            android:theme="@style/AppThemeFullScreen"
            tools:ignore="LockedOrientationActivity" />


        <activity
            android:name=".ui.ActivityForgotPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.ActivityDashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.ActivityNotification"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.ActivityIntro"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <activity
            android:name=".ui.ActivityRegister"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <activity
            android:name=".ui.ActivityMyTrip"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <activity
            android:name=".ui.ActivityMyTripDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <activity
            android:name=".ui.ActivityVehicleDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <activity
            android:name=".ui.ActivityLoginSelection"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <activity
            android:name=".ui.ActivityOTPVerify"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <activity
            android:name=".ui.ActivityChat"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <activity
            android:name=".ui.ActivityWishList"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <activity
            android:name=".ui.ActivityProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <activity
            android:name=".ui.ActivityAddVehicle"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <activity
            android:name=".ui.ActivityAddVehicleDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <activity
            android:name=".ui.ActivityUpdateProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <activity
            android:name=".ui.ActivityHelpCenter"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <activity
            android:name=".ui.ActivityPaymentMethods"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <activity
            android:name=".ui.ActivityMyAddress"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />


        <activity
            android:name=".ui.dialogs.ActivityDialog"
            android:excludeFromRecents="true"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppDialogTheme"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>